@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    background-color: #424242;
}

.gSearch{
    position: fixed;
    top: 20px;
    right: 40px;

    color: #dcdcdc;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    &:hover{
        text-decoration: underline;
    }
}