@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Defining a constant for the left margin on the page. */
$left-indent: 2.5rem;

/* Defining a constant for the top margin between input fields. */
$top-margin: 0.75rem;


/* The link at the top right corner of the page. */
.gSearch{
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 2;

    color: #dcdcdc;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    &:hover{
        text-decoration: underline;
    }
}

/* Setting the height of the banner's parents so that I can later change
the banner's height.  */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #424242;
}

.gLogo{
    position: relative;
    top: 0.7rem;
    left: 1rem;
}

span{
    font-size: 1rem;
}

#G-span{
    color: #4285f4;
    font-size: 1.5rem;
}
#o1-span{
    color: #DB4437;
}
#o2-span{
    color: #F4B400;
}
#g-span{
    color: #4285f4;
}
#l-span{
    color: #0F9D58;
    font-size: 1.25rem;
    font-weight: 500;
}
#e-span{
    color: #DB4437;
}

.banner{  
    height: 13%;
    z-index: 1;

    font-family: 'Poppins', sans-serif;
}   

.advSearch{
    position: relative;
    left: $left-indent;
    margin-top: 2.5rem;
    font-size: 1rem;
    color: #DB4437;
}

.line{
    margin-top: 1.25rem;
}

.headerContainer{
    display: flex;
    position: fixed;
    top: 10.5rem;
    left: $left-indent;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.925rem;
    color: #dcdcdc;
}

.blank{
    position: relative;
    left: 1.75rem;
}

.toDo{
    position: relative;
    left: 35.5rem;
    font-family: 'Poppins', sans-serif;
    color: #d1d1d1;
    font-size: 0.85rem;
    font-weight: 550;
}

.inputContainer{
    margin-top: 5.25rem;
    margin-left: $left-indent;
    
    font-family: Arial, Helvetica, sans-serif;
    color: #dcdcdc;
    font-size: 0.75rem;
}

.text{
    font-size: 0.65rem;

    position: relative;
    left: 0.75rem;

    span{
        font-family: monospace, sans-serif;
        font-size: 0.65rem;
        color: #c5c5c5;
    }
}

.allWords{
    display: flex;
    align-items: center;
}

.exactWords{
    display: flex;
    margin-top: $top-margin;
}

.anyWords{
    display: flex;
    margin-top: $top-margin;
}

.noneWords{
    display: flex;
    margin-top: $top-margin;
}

.searchBar{
    width: 31.75rem;
    height: 1.25rem;

    outline: none;
    border: 1.5px solid #c2c2c2;

    &:focus{
        border: 2px solid #4285f4;
    }
}

#search1{
    margin-left: 5.25rem;
}

#search2{
    margin-left: 1.85rem;
}

#search3{
    margin-left: 3.95rem;
}

#search4{
    margin-left: 3.45rem;
}

.buttonContainer{
    position: relative;
    top: 1.5rem;
    left: 35rem;
}

.submit{
    width: 120px;
    height: 25px;
    padding-left: 0;
    padding-right: 3px;
    font-size: 11px;
    color: #dcdcdc;

    background-color: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 2px;

    &:hover{
        background-color: #4b8aee;
    }
}