body {
    background-color: #424242;
}

.google{
    font-size: xx-large;
    font-family: 'Google Sans', sans-serif;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}