@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    background-color: #424242;
}

/* Changing the logo font and positioning.*/
.google{
    font-size: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 225px;

    span{
        font-size: 80px;
    }
}

/* Changing the colors of the individual letters.*/
#G-span{
    color: #4285f4;
}
#o1-span{
    color: #DB4437;
}
#o2-span{
    color: #F4B400;
}
#g-span{
    color: #4285f4;
}
#l-span{
    color: #0F9D58;
}
#e-span{
    color: #DB4437;
}

/* CSS for the form.*/
.form{
    /* Adjusting the positioning of the form.*/
    text-align: center;
    margin-top: 20px;

    /* Channging the font of the form*/
    font-family: 'Poppins', sans-serif;
}

.search-container{
    text-align: center;
    margin: 10px;
}

.sub-container{
    text-align: center;
    margin: 20px;
}

/* CSS for the search bar.*/
.searchbar{
    border: 0;
    border-radius: 25px; /* making the search bar round*/
    width: 600px;
    height: 40px;

    &:focus{
        outline: none;
    }

    &:hover{
        box-shadow: 1px 1px 8px 1px #dcdcdc;
    }
}

/* CSS for the submit  button. */
.submit, .lucky{
    border-radius: 5px;
    height: 40px;
}