body {
    background-color: #424242;
}

.google{
    font-size: 0px;
    font-family: 'Google Sans', sans-serif;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span{
        font-size: xx-large;
    }
}

#G-span{
    color: #4285f4;
}
#o1-span{
    color: #DB4437;
}
#o2-span{
    color: #F4B400;
}
#g-span{
    color: #4285f4;
}
#l-span{
    color: #0F9D58;
}
#e-span{
    color: #DB4437;
}